/* /mrhoustontimer/app/static/css/header.css */

.app-header {
    flex-shrink: 0; /* Хедер не сжимается */
    background-color: var(--color-accent-secondary);
    /* * Добавляем поддержку "перетаскивания" окна
     * (полезно для pywebview, если мы уберем рамку)
     */
    -webkit-app-region: drag;
}

.app-header nav {
    display: flex;
    justify-content: center;
}

.nav-button {
    font-family: var(--font-main);
    padding: 12px 20px;
    background: none;
    border: none;
    color: var(--color-text);
    font-size: 16px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s, border-bottom 0.2s;
    border-bottom: 3px solid transparent;

    -webkit-app-region: no-drag; /* Кнопки не должны "тащить" окно */
}

.nav-button:hover {
    opacity: 1;
}

.nav-button.active {
    opacity: 1;
    border-bottom: 3px solid var(--color-accent-primary);
}